@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/lara-light-blue/theme.css";
/* @import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.css"; */

@layer tailwind-base {
    @tailwind base;
}

@layer primereact {
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

:root {
    font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
}
.maplibregl-ctrl-bottom-right {
    display: none;
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background-image: linear-gradient(#BBE6FF 16px, transparent 0),
        linear-gradient(#53a7d8 16px, transparent 0),
        linear-gradient(#53a7d8 16px, transparent 0),
        linear-gradient(#BBE6FF 16px, transparent 0);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top, left bottom, right top, right bottom;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0% {
        width: 64px;
        height: 64px;
        transform: rotate(0deg);
    }
    50% {
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
    }
    100% {
        width: 64px;
        height: 64px;
        transform: rotate(360deg);
    }
}
